/*-- scss:defaults --*/

/* change font of all text to Times new roman */
$font-family-sans-serif: Palatino !default;

/* background color */
$body-bg: #282828 !default;
$body-color: #ebdbb2 !default;
$link-color1: #8ec07c !default;
// --gruv-aqua-neutral: #689d6a;
// --gruv-yellow-bright: #fabd2f;
// --gruv-yellow-neutral: #d79921;
$toc-active-border: #83a598 !default;
$toc-color: #83a598 !default;
$navbar-hl: #8ec07c !default;
$sidebar-hl: #8ec07c !default;
$toc-hl: #83a598 !default;
$code-block-bg: #3c3836 !default;
$code-color: #ebdbb2 !default;

b,
strong {
    color: #fabd2f; // Replace with your desired color code
    font-weight: 500;
}

// Style for italicized text
i,
em {
    color: #83a598; // Replace with your desired color code
}

h1,
h2,
h3 {
    color: #fabd2f;
}